
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tilauss Rent a Car</title>
    <link rel="stylesheet" href="~/starter/assets/css/style-starter.css">
</head>
<body>
   
    <section class="w3l-top-menu-4">
        <header class="top-menu4">
            <div class="wrapper">
                <div class="d-grid align-topmenu4">
                    <div class="top-menu4-left d-grid align-items-menu4">
                        <ul class="social-icons">
                            <li class="facebook"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                            <li class="instagram"><a href="#instagram"><span class="fa fa-instagram"></span></a></li>
                            <li class="google-plus"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                            <li class="linkedin"><a href="#linkedin"><span class="fa fa-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="top-menu4-right">
                        <ul class="top-menu-right">
                            <li><a href="tel:0539 890 75 60"> <span class="fa fa-phone"> </span>+90 539 890 75 60</a> <span>Telefon Numaramız</span> </li>
                            <li><a href="mailto:iletisim@tilauss.com"> <span class="fa fa-envelope-open-o"> </span>iletisim@tilauss.com</a> <span>Mail Adresimiz</span> </li>
                            <li><p> <span class="fa fa-clock-o"> </span>09:00 - 22:00</p> <span>Çalışma Saatlerimiz</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </section>
  
    <section class="w3l-header-4">
        <header id="headers4-block">
            <div class="wrapper">
                <div class="d-grid nav-mobile-block header-align">
                    <div class="logo">
                        <a class="brand-logo" href="index"><span>Tilauss</span></a>
                        
                    </div>
                    <input type="checkbox" id="nav" />
                    <label class="nav" for="nav"></label>
                    <nav>
                        <label for="drop" class="toggle">Menu</label>
                        <input type="checkbox" id="drop">
                        <ul class="menu">
                            <li><a href="index">Ana Sayfa</a></li>
                            <li><a href="about">Hakkında</a></li>                            
                            <li><a href="contact">İletişim</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </section>
    
    <section class="w3l-breadcrumns">
        <div class="wrapper">
            <ul>
                <li><a href="index">Ana Sayfa</a> <span class="fa fa-angle-double-right"></span></li>
                <li>Bize Ulaşın</li>
            </ul>
        </div>
    </section>
    <section class="w3l-contacts-2">
        <div class="wrapper ">
            <h3 class="heading-title">Bizimle İletişime Geçin</h3>
            <div class="contact-main">
                <div class="grid grid-column-2">
                    <div class="column">
                        <h3 class="header">Sizin için buradayız</h3>
                        <p class="head-main">
                            Yaptığınız rezervasyon anında ilgili ofisimize iletilir ve seçtiğiniz araç markasının sizin için en uygun modeli vakit kaybetmeden hazırlanır. Geriye email adresinize ya da telefonunuza gelen rezervasyon bilgileriyle ofisimize gelmeniz kalır. Böylece Türkiye'deki seyahat edeceğiniz şehri keşfetmeniz için her şey hazır hale gelir.
                        </p>
                    </div>
                    <div class="column2">
                        <p><span class="fa fa-envelope-open"> </span><a href="mailto:iletisim@tilauss.com"> iletisim@tilauss.com</a></p>
                        <p><span class="fa fa-phone"></span> <a href="tel:+905398907560">0539 890 75 60</a></p>
                        <p class="contact-para"><span class="fa fa-map-marker"></span> BALIKESIR/BANDIRMA</p>
                        <p> Paşakent, Zirai Donatım Sk., 10200 Bandırma/Balıkesir</p>
                    </div>
                    <div class="column3">
                        <h3 class="header">Sosyal Medya </h3>
                        <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                        <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                        <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="w3l-contacts-12">
        <div class="wrapper">
            <div class="contacts12-main">
                <h3 class="contact-head">Fikirlerinizi bizimle paylaşın</h3>
                <p class="contact-para">Sormak istediğiniz bir şey, iletmek istediğiniz bir düşünceniz veya bir sorununuz mu var?.</p>
                <form action="https://sendmail.tilauss0@gmail.com/submitForm" method="post">
                    <div class="main-input">
                        <input type="text" name="tilaussName" placeholder="İsminiz" class="contact-input" required />
                        <input type="email" name="tilaussSender" placeholder="Email Adresiniz" class="contact-input" required />
                        <input type="text" name="tilaussSubject" placeholder="Konu" class="contact-input" required />
                    </div>
                    <textarea class="contact-textarea" name="TilaussMessage" placeholder="Mesajınızı Buraya yazınız" required></textarea>
                    <button class="actionbg btn">Bizi haberdar edin!</button>
                </form>
            </div>
        </div>
    </section>


    <section class="w3l-footer-29-main">
        <div class="footer-29">
            <div class="wrapper">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">Bize Ulaşın</h6>
                        <ul>
                            <li><p><span class="fa fa-map-marker"></span> Ofisimiz: Paşakent, Zirai Donatım Sk., 10200 Bandırma/Balıkesir</p></li>
                            <li><a href="tel:+90 539 890 75 60"><span class="fa fa-phone"></span> 0539 890 75 60</a></li>
                            <li><a href="mailto:iletisim@tilauss.com" class="mail"><span class="fa fa-envelope-open-o"></span> iletisim@tilauss.com</a></li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                            <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                            <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                        </div>
                    </div>


                </div>
                <div class="d-grid grid-col-2 bottom-copies">
                    <p class="copy-footer-29">© 2019 BANU. Tüm hakları saklıdır.  | Designed by <a href="https://instagram.com/icozemir">Tilauss</a></p>
                    <ul class="list-btm-29">
                        <li><a href="#link">Privacy policy</a></li>
                        <li><a href="#link">Terms of service</a></li>
                        <li>
                            <select name="carlist" form="carform">
                                <option value="Language">English</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-angle-up"></span>
    </button>
    <script>
        
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    
</body>
</html>
